为了解我国的就业情况，根据中华人民共和国国家统计局第六次人
口普查结果，就业行业和人数见文件“employ-data.txt”，请用排序
算法对数据进行降序排序（不允许直接调用系统函数完成排序），在屏
幕上显示排序后的数据结果（包括行业及人数），同时将排序结果写入
“employ-sort.txt”文件；然后输入要查询的“行业名称”，如果查询成
功，则显示查询到的“就业人数”，否则显示“查询不成功”，直到查询者
想退出查询，程序结束。